---
Title: "products";

import Cards from "../components/Cards.astro";
import Slide1 from "../assets/slide1.jpg";
import Slide2 from "../assets/slide2.jpg";
import Slide3 from "../assets/slide3.jpg";
import Slide4 from "../assets/slide4.jpg";
import Slide5 from "../assets/slide5.jpg";
---

<div class="flex-row relative w-full min-h-full bg-transparent p-10">
    <div class="mb-10 text-4xl md:text-7xl p-8">
        <h1 class="capitalize">Nuestros Productos Destacados</h1>
    </div>
    <div class="mb-10 p-8 text-sm md:text-2xl text-start">
        <h3 class="">Felicita a Mamá con un grandioso regalo!!</h3>
    </div>
    <div
        class="flex items-center justify-center min-h-screen container rounded-2xl shadow-black/10"
    >
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <Cards>
                <img src={Slide1.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 1
                </h3>
            </Cards>
            <Cards>
                <img src={Slide2.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 2
                </h3>
            </Cards>
            <Cards>
                <img src={Slide3.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 3
                </h3>
            </Cards>
            <Cards>
                <img src={Slide4.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 4
                </h3>
            </Cards>
            <Cards>
                <img src={Slide5.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 5
                </h3>
            </Cards>
        </div>
    </div>
</div>

<style>
    /* .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 600px;
        background: #cbf3f0;
        box-shadow: 0 30px 50px #dbdbdb;
    } */
</style>
