---
Title: "products";

import Cards from "../components/Cards.astro";
import Slide1 from "../assets/slide1.jpg";
import Slide2 from "../assets/slide2.jpg";
import Slide3 from "../assets/slide3.jpg";
import Slide4 from "../assets/slide4.jpg";
import Slide5 from "../assets/slide5.jpg";
---

<div
    class="flex-row relative w-full min-h-full bg-transparent p-10"
    transition:name="name"
    transition:animate="initial"
>
    <div class="mb-10 text-4xl md:text-7xl p-8">
        <h1 class="capitalize">Nuestros Productos Destacados</h1>
    </div>
    <div class="mb-10 p-8 text-sm md:text-2xl text-start">
        <h3 class="">Felicita a Mamá con un grandioso regalo!!</h3>
    </div>
    <div
        class="flex items-center justify-center min-h-screen container rounded-2xl shadow-black/10"
    >
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <Cards>
                <img src={Slide1.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 1
                </h3>
            </Cards>
            <Cards>
                <img src={Slide2.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 2
                </h3>
            </Cards>
            <Cards>
                <img src={Slide3.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 3
                </h3>
            </Cards>
            <Cards>
                <img src={Slide4.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 4
                </h3>
            </Cards>
            <Cards>
                <img src={Slide5.src} alt="" class="" />
                <h3 class="text-2xl md:text-4xl font-medium mt-3" slot="title">
                    Product 5
                </h3>
            </Cards>
        </div>
    </div>
    <div>
        <a
            href="/"
            class="relative inset-0 m-auto w-full h-full flex justify-center"
        >
            <svg width="50" height="50" viewBox="0 0 512 512"
                ><path
                    fill="none"
                    stroke="#2ec4b6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M249.38 336L170 256l79.38-80M181.03 256H342"></path><path
                    d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
                    fill="none"
                    stroke="#2ec4b6"
                    stroke-miterlimit="10"
                    stroke-width="32"></path></svg
            ></a
        >
    </div>
</div>
